# Node.js dependencies
node_modules/
dist/
build/
*.log
.npm/
.npmrc

# Environment variables
.env
.env.local
.env.*.local

# Editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Jest and Coverage
coverage/
jest.config.js
